<div class="home-right">
  <div class="home-right__title">Recently Updated</div>
  <div class="recent-cards recent-cards--right">
    {% assign recent_posts = site.posts | sort: "last_modified_at" | reverse %}
    {% for post in recent_posts limit: 4 %}
      <a class="recent-card" href="{{ post.url | relative_url }}">
        <div class="recent-card-title">{{ post.title }}</div>
        <div class="recent-card-meta">
          {{ post.date | date: "%Y.%m.%d" }}
        </div>
      </a>
    {% endfor %}
  </div>
</div>
